.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.search-area > *,
.operation-area > *  {
  display: inline-block;
}
.search-area > *:not(:first-child),
.operation-area > *:not(:first-child) {
  margin-left: 16px;
}

.operation-area ::ng-deep .devui-pagination .devui-pagination-list {
  margin: 0!important;
}

.single-pagination {
  text-align: right;
}
.filter-penal {
  background-color: #F5F5F5;
  padding: 16px;
}
