:host {
  display: block;
  height: 100%;
  background-color: #fff;
}
nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
nav a {
  flex: 0 0 40px;
  line-height: 32px;
  font-size: 14px;
  border-radius: 2px;
  color: #404040;
  padding: 8px;
}
nav a:not(:first-of-type) {
  margin-top: 16px;
}
nav a:hover {
  background-color: rgba(94, 124, 224, 0.08);
}
nav a.active {
  color: #5E7CE0;
  background-color: rgba(94, 124, 224, 0.153);
}

nav a::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
